# 聊聊quantos数据

quantos为量化研究提供一站式的解决方案，这篇文章里，我们聊一下quantos提供的数据服务。

## 整体架构

![](https://raw.githubusercontent.com/PKUJohnson/LearnJaqsByExample/master/image/quantos_data.png)

目前quantos提供的数据包括：

+ 基础数据，主要是一些基础信息，包括证券信息、行业代码、指数信息、交易日历等。
+ 市场数据，即由市场行情产生的数据，包括实时行情、实时分钟线、历史tick、历史日线、历史分钟线等。
+ 参考数据，包括股票的复权因子、分红、停复牌、行业分类，指数的成份股，公募基金的净值等。

## 数据获取

使用DataApi，可以获取quantos提供的各种研究数据。使用前需要先登录，代码如下：

In [1]:
import os
from jaqs.data import DataApi
api   = DataApi(addr="tcp://data.quantos.org:8910")
phone = os.environ.get("QUANTOS_USER")
token = os.environ.get("QUANTOS_TOKEN")
df, msg = api.login(phone, token)
print(df, msg)

username: 18612562791 0,

### 市场数据

市场数据分为实时数据和历史数据，通过几个不同的接口来获取。

#### 实时行情快照

通过quote函数，可以查询多只证券的实时行情快照。

In [2]:
df, msg = api.quote(
	symbol="000001.SH, cu1709.SHF", 
	fields="open,high,low,last,volume"
)
df.head(10)

,date,high,last,low,open,symbol,time,volume
000001.SH,20180222,3269.9156,3268.5589,3234.1152,3237.5692,000001.SH,150052000,138730445

#### 实时行情订阅

通过subscribe函数，可以订阅多只证券的实时行情，通过回调on_quote函数，将最新的数据返回给用户。

In [3]:
def on_quote(k,v):
    print(v['symbol']) // 标的代码
    print(v['last'])   // 最新成交价
    print(v['time'])   // 最新成交时间

subs_list,msg = api.subscribe("000001.SH, cu1709.SHF",func=on_quote,fields="symbol,last,time,volume")
print(subs_list, msg)

['000001.SH', 'cu1709.SHF'] 0,

quantos实时行情数据包括：

+ 股票level1行情，每3.0秒刷新一次
+ 期货level1行情，每0.5秒刷新一次

实时行情数据主要包括：

+ 时间信息(date, time, trade_date)
+ 最新的OHLC(open, high, low, close）
+ 最新的盘口信息（ask1-ask5, bid1-bid5）
+ 成交统计信息volume, turnover, vwap
+ 静态信息，包括涨停价、跌停价、昨收价、昨结算价

#### 分钟线查询

分钟线是将实时行情数据按照分钟为单位进行统计分析，得到的信息

bar函数查询分钟线信息，quantos支持1M、5M、15M三种分钟线，trade_date=0时，查询的是当日的分钟线，否则查询的是历史分钟线。

In [4]:
df,msg = api.bar(
	symbol="600030.SH", 
	trade_date=20170928, 
	freq="5M",
	start_time=0,
	end_time=160000,
	fields=""
)
df.head(10)

,close,code,date,freq,high,low,oi,open,settle,symbol,time,trade_date,turnover,volume,vwap
0,18.05,600030,20170928,5M,18.08,18.00,NaN,18.01,NaN,600030.SH,93500,20170928,13576973.0,752900.0,18.032903
1,18.03,600030,20170928,5M,18.06,18.01,NaN,18.04,NaN,600030.SH,94000,20170928,16145566.0,895110.0,18.037522
2,18.04,600030,20170928,5M,18.05,18.02,NaN,18.03,NaN,600030.SH,94500,20170928,11024829.0,611400.0,18.032105
3,17.99,600030,20170928,5M,18.05,17.97,NaN,18.04,NaN,600030.SH,95000,20170928,30021003.0,1667190.0,18.006948
4,18.02,600030,20170928,5M,18.03,17.97,NaN,17.98,NaN,600030.SH,95500,20170928,13691203.0,761161.0,17.987263
5,18.00,600030,20170928,5M,18.03,17.98,NaN,18.01,NaN,600030.SH,100000,20170928,17562219.0,975400.0,18.005146
6,17.98,600030,20170928,5M,18.00,17.96,NaN,18.00,NaN,600030.SH,100500,20170928,29442839.0,1637650.0,17.978713
7,17.99,600030,20170928,5M,18.00,17.98,NaN,17.99,NaN,600030.SH,101000,20170928,8453291.0,469911.0,17.989132
8,18.00,600030,20170928,5M,18.01,17.99,NaN,18.00,NaN,600030.SH,101500,20170928,9820498.0,545600.0,17.999446
9,17.98,600030,20170928,5M,18.01,17.95,NaN,18.00,NaN,600030.SH,102000,20170928,30884646.0,1719000.0,17.966635

quantos每日根据接收的tick数据，合成分钟线并保存在文件中。

分钟线数据主要包括：

+ 时间信息(date, time, trade_date)
+ 这一分钟的OHLC(open, high, low, close）
+ 这一分钟内最后的盘口信息（ask1-ask5, bid1-bid5）
+ 成交统计信息volume, turnover, vwap

很多交易策略是基于分钟线进行研究的，因为分钟线的统计规律更加稳定。

#### 日线查询

日线，顾名思义就是每日收盘数据。属于日级别的低频数据，很多股票alpha策略都是在日线上进行研究的。

In [5]:
df, msg = api.daily(
	symbol="600832.SH, 600030.SH", 
	start_date=20121026,
	end_date=20121130, 
	fields="", 
	adjust_mode="post"
)
df.head(10)

,close,code,freq,high,low,oi,open,presettle,settle,symbol,trade_date,trade_status,turnover,volume,vwap
0,84.557890,600832,1d,87.049772,84.391764,NaN,86.883647,NaN,NaN,600832.SH,20121026,交易,27790568.0,5381800.0,85.78
1,84.724015,600832,1d,85.554643,84.391764,NaN,84.890141,NaN,NaN,600832.SH,20121029,交易,13203328.0,2582557.0,84.93
2,84.890141,600832,1d,86.053019,84.391764,NaN,85.056266,NaN,NaN,600832.SH,20121030,交易,16227051.0,3170615.0,85.02
3,84.890141,600832,1d,85.388517,84.557890,NaN,85.056266,NaN,NaN,600832.SH,20121031,交易,10720069.0,2097770.0,84.89
4,86.053019,600832,1d,86.385270,85.056266,NaN,85.056266,NaN,NaN,600832.SH,20121101,交易,19721000.0,3814712.0,85.88
5,88.212651,600832,1d,88.877153,85.222392,NaN,86.385270,NaN,NaN,600832.SH,20121102,交易,57502794.0,10927010.0,87.42
6,87.880400,600832,1d,89.541655,87.215898,NaN,88.378777,NaN,NaN,600832.SH,20121105,交易,62725248.0,11807741.0,88.25
7,88.378777,600832,1d,88.711028,86.385270,NaN,87.714275,NaN,NaN,600832.SH,20121106,交易,55743439.0,10595902.0,87.40
8,88.046526,600832,1d,88.544902,87.548149,NaN,87.880400,NaN,NaN,600832.SH,20121107,交易,26376465.0,4975333.0,88.07
9,86.883647,600832,1d,88.046526,86.551396,NaN,87.382024,NaN,NaN,600832.SH,20121108,交易,31516248.0,6006363.0,87.17

daily函数可以获取多只证券某段时间内的每日收盘数据，adjust_mode字段是复权方式，这就涉及到股票价格复权的问题。

那股票复权是咋回事呢？

原来，很多股票每年都会进行分红、配股等操作，会导致股票的价格发生突变。比如：

+ 某股票今日日终分红每股1元，则次日其股价自动减少1元。
+ 某股票今日日终实施配股(或送股)，每股配(送)2股，则次日股价自动调整为今日收盘价的1/3.

还有一些股票是分红和配股(送股)一起实施。

复权就是按照红利再投资的原则，复原真实的股价，即在最新的股价上乘以一个复权因子的系数。

复权可以解决股票长周期回测的价格问题。

### 通用数据查询接口

除市场数据外，基础数据和参考数据都是通过一个叫做query的通用数据查询接口api获取的，样例代码如下：

In [6]:
# 通用数据查询接口样例
df, msg = api.query(
    view="jz.instrumentInfo", 
    fields="status,list_date, fullname_en, market", 
    filter="inst_type=1&status=1&symbol="
)
df.head(10)

  list_date market  name  status     symbol
0  19991110     SH  浦发银行       1  600000.SH
1  20001219     SH  民生银行       1  600016.SH
2  20030106     SH  中信证券       1  600030.SH
3  20021009     SH  中国联通       1  600050.SH
4  19970807     SH  国金证券       1  600109.SH
5  20000526     SH  广汇能源       1  600256.SH
6  20010827     SH  贵州茅台       1  600519.SH
7  19930316     SH  东方明珠       1  600637.SH
8  19960312     SH  伊利股份       1  600887.SH
9  20091117     SH  招商证券       1  600999.SH

这里面有三个参数：
+ 第一个参数view需填入对应的接口名
+ 输入参数指的是filter参数里面的内容，通过'&'符号拼接
+ 输出参数指的是fields里面的内容，通过','隔开

也就是说，使用query接口，你需要提供三个信息，接口名、条件参数、输出字段

问题来了，如何知道有哪些接口呢？如何知道每个接口有哪些输入参数和输出参数可选择呢？

彩蛋来了，有两个查询接口信息的接口。help.apiList，help.apiParam

In [7]:
# 查询有哪些接口可以调用
df, msg = api.query(
    view="help.apiList", 
    fields="", 
    filter=""
)
df.head(100)

                 api comment    name
0  jz.instrumentInfo  证券基本信息  证券基础信息
1     jz.secTradeCal    交易日历    交易日历
2       lb.indexCons   指数成份股   指数成份股
3       lb.indexInfo  指数基本信息  指数基本信息
4    lb.industryType   行业代码表   行业代码表
5           lb.mfNav  公募基金净值  公募基金净值
6    lb.secAdjFactor    复权因子    复权因子
7     lb.secDividend    分红送股   分红送股表
8     lb.secIndustry  行业分类信息    行业分类
9         lb.secSusp   停复牌数据     停复牌

In [8]:
# 查询jz.instrumentInfo接口的输入输出参数
df, msg = api.query(
    view="help.apiParam", 
    fields="", 
    filter="api=jz.instrumentInfo"
)
df.head(100)

                  api comment   dtype must             param       pname ptype
0   jz.instrumentInfo             Int    N         inst_type       证券类型    OUT
1   jz.instrumentInfo             Int    N         inst_type       证券类型     IN
2   jz.instrumentInfo             Int    N            status        上市状态    IN
3   jz.instrumentInfo          String    N            symbol        证券代码    IN
4   jz.instrumentInfo          String    Y            symbol        证券代码   OUT
5   jz.instrumentInfo          String    Y              name        证券名称   OUT
6   jz.instrumentInfo          String    Y         list_date        上市日期   OUT
7   jz.instrumentInfo          String    N       delist_date        退市日期   OUT
8   jz.instrumentInfo             Int    N            status        上市状态   OUT
9   jz.instrumentInfo          String    N          currency          货币   OUT
10  jz.instrumentInfo             Int    N            buylot      最小买入单位   OUT
11  jz.instrumentInfo             Int    N           selllot      最大买入单位   OUT
12  jz.instrumentInfo          Double    N         pricetick      最小变动单位   OUT
13  jz.instrumentInfo          String    N        underlying        对应标的   OUT
14  jz.instrumentInfo          String    N           product        合约品种   OUT
15  jz.instrumentInfo          String    N            market         交易所    IN
16  jz.instrumentInfo          String    N            market         交易所   OUT
17  jz.instrumentInfo          String    N  start_delistdate  退市阶段(开始日期)    IN
18  jz.instrumentInfo          String    N    end_delistdate  退市阶段(结束日期)    IN
19  jz.instrumentInfo             Int    N        multiplier        合约乘数   OUT
20  jz.instrumentInfo          String    N        trade_date         交易日    IN

### 基础数据

+ 证券基础信息
+ 交易日历信息
+ 指数基本信息
+ 行业信息

In [9]:
# 证券基础信息

df, msg = api.query(
    view="jz.instrumentInfo", 
    fields="", 
    filter="inst_type=1&status=1&symbol="
)
df.head(10)

  list_date  name     symbol
0  19991110  浦发银行  600000.SH
1  20001219  民生银行  600016.SH
2  20030106  中信证券  600030.SH
3  20021009  中国联通  600050.SH
4  19970807  国金证券  600109.SH
5  20000526  广汇能源  600256.SH
6  20010827  贵州茅台  600519.SH
7  19930316  东方明珠  600637.SH
8  19960312  伊利股份  600887.SH
9  20091117  招商证券  600999.SH

In [10]:
# 指数基本信息

df, msg = api.query(
    view="lb.indexInfo", 
    fields="", 
    filter=""
)
df.head(10)

         compname exchmarket     symbol
0   深圳证券交易所农林牧渔指数         SZ  399110.SZ
1    深圳证券交易所采掘业指数         SZ  399120.SZ
2    深圳证券交易所制造业指数         SZ  399130.SZ
3   深圳证券交易所食品饮料指数         SZ  399131.SZ
4   深圳证券交易所纺织服装指数         SZ  399132.SZ
5   深圳证券交易所木材家具指数         SZ  399133.SZ
6   深圳证券交易所造纸印刷指数         SZ  399134.SZ
7   深圳证券交易所石化塑胶指数         SZ  399135.SZ
8     深圳证券交易所电子指数         SZ  399136.SZ
9  深圳证券交易所金属非金属指数         SZ  399137.SZ

In [11]:
# 交易日历信息，只支持中国的交易日历

df, msg = api.query(
    view="jz.secTradeCal", 
    fields="", 
    filter=""
)
df.head(10)

  istradeday trade_date
0          T   19901219
1          T   19901220
2          T   19901221
3          T   19901224
4          T   19901225
5          T   19901226
6          T   19901227
7          T   19901228
8          T   19901231
9          T   19910102

In [12]:
# 行业代码表

df, msg = api.query(
    view="lb.industryType", 
    fields="", 
    filter="industry_src=SW&level=1"
)
df.head(100)

,industry1_code,industry2_code,industry3_code,industry_name,industry_src,level
0,110000,,,农林牧渔,sw,1
1,210000,,,采掘,sw,1
2,220000,,,化工,sw,1
3,230000,,,钢铁,sw,1
4,240000,,,有色金属,sw,1
5,270000,,,电子,sw,1
6,280000,,,汽车,sw,1
7,330000,,,家用电器,sw,1
8,340000,,,食品饮料,sw,1
9,350000,,,纺织服装,sw,1
10,360000,,,轻工制造,sw,1
11,370000,,,医药生物,sw,1
12,410000,,,公用事业,sw,1
13,420000,,,交通运输,sw,1
14,430000,,,房地产,sw,1
15,450000,,,商业贸易,sw,1
16,460000,,,休闲服务,sw,1
17,480000,,,银行,sw,1
18,490000,,,非银金融,sw,1
19,510000,,,综合,sw,1
20,610000,,,建筑材料,sw,1
21,620000,,,建筑装饰,sw,1
22,630000,,,电气设备,sw,1
23,640000,,,机械设备,sw,1
24,650000,,,国防军工,sw,1
25,710000,,,计算机,sw,1
26,720000,,,传媒,sw,1
27,730000,,,通信,sw,1

上面样例获取的是申万一级行业分类代码，一共28个一级行业。

### 参考数据

股票相关

+ 股票分红配股数据
+ 股票停复牌数据
+ 股票复权因子数据
+ 股票行业分类数据

指数相关

+ 指数成分股

基金相关

+ 公募基金净值

In [13]:
# 股票分红配股数据

df, msg = api.query(
    view="lb.secDividend", 
    fields="", 
    filter="symbol=600036.SH"
)
df.head(100)

,ann_date,bonus_list_date,cash,cash_tax,cashpay_date,div_enddate,exdiv_date,publish_date,record_date,share_ratio,share_trans_ratio,symbol
0,20020604,,0.166,0.0000,20020604,20011231,,,,0.0,0.00000,600036.SH
1,20030418,,0.120,0.0960,20030723,20021231,20030716,20030708,20030715,0.0,0.00000,600036.SH
2,20040218,20040512,0.092,0.0740,20040517,20031231,20040511,20040428,20040510,0.0,0.20000,600036.SH
3,20050331,20050621,0.110,0.0990,20050624,20041231,20050620,20050614,20050617,0.0,0.50000,600036.SH
4,20060412,,0.080,0.0720,20060621,20051231,20060616,20060612,20060615,0.0,0.00000,600036.SH
5,20051230,20060227,0.000,0.0000,,20060223,20060224,20060222,20060223,0.0,0.08589,600036.SH
6,20060720,,0.180,0.1620,20060927,20060719,20060921,20060915,20060920,0.0,0.00000,600036.SH
7,20070417,,0.120,0.1080,20070710,20061231,20070704,20070628,20070703,0.0,0.00000,600036.SH
8,20080319,,0.280,0.2520,20080801,20071231,20080728,20080722,20080725,0.0,0.00000,600036.SH
9,20090425,20090706,0.100,0.0600,20090709,20081231,20090703,20090629,20090702,0.3,0.00000,600036.SH
10,20100414,,0.210,0.1890,20100708,20091231,20100701,20100625,20100630,0.0,0.00000,600036.SH
11,20110401,,0.290,0.2610,20110616,20101231,20110610,20110603,20110609,0.0,0.00000,600036.SH
12,20120329,,0.420,0.3780,20120613,20111231,20120607,20120601,20120606,0.0,0.00000,600036.SH
13,20130329,,0.630,0.5985,20130619,20121231,20130613,20130604,20130607,0.0,0.00000,600036.SH
14,20140329,,0.620,0.5890,20140711,20131231,20140711,20140703,20140710,0.0,0.00000,600036.SH
15,20150319,,0.670,0.6365,20150703,20141231,20150703,20150625,20150702,0.0,0.00000,600036.SH
16,20160331,,0.690,0.6900,20160713,20151231,20160713,20160705,20160712,0.0,0.00000,600036.SH
17,20170325,,0.740,0.7400,20170614,20161231,20170614,20170606,20170613,0.0,0.00000,600036.SH

In [14]:
# 股票停复牌数据

df, msg = api.query(
    view="lb.secSusp", 
    fields="", 
    filter="symbol=600036.SH"
)
df.head(100)

    ann_date resu_date susp_date susp_reason     symbol
0   20080602  20080603  20080602     重要事项未公告  600036.SH
1   20080603  20080603  20080603      刊登重要公告  600036.SH
2   20080627  20080630  20080627      召开股东大会  600036.SH
3   20090227  20090302  20090227      召开股东大会  600036.SH
4   20090619  20090622  20090619      召开股东大会  600036.SH
5   20091019  20091020  20091019      召开股东大会  600036.SH
6   20100623  20100624  20100623      召开股东大会  600036.SH
7   20110530  20110531  20110530      召开股东大会  600036.SH
8   20110909  20110913  20110909      召开股东大会  600036.SH
9   20120530  20120531  20120530      召开股东大会  600036.SH
10  20130904  20130905  20130828      刊登重要公告  600036.SH
11  20150410  20150413  20150403      刊登重要公告  600036.SH

In [15]:
# 股票复权因子数据

df, msg = api.query(
    view="lb.secAdjFactor", 
    fields="", 
    filter="symbol=600036.SH"
)
df.tail(100)

      adjust_factor     symbol trade_date
3756        4.62913  600036.SH   20170921
3757        4.62913  600036.SH   20170922
3758        4.62913  600036.SH   20170925
3759        4.62913  600036.SH   20170926
3760        4.62913  600036.SH   20170927
3761        4.62913  600036.SH   20170928
3762        4.62913  600036.SH   20170929
3763        4.62913  600036.SH   20171009
3764        4.62913  600036.SH   20171010
3765        4.62913  600036.SH   20171011
3766        4.62913  600036.SH   20171012
3767        4.62913  600036.SH   20171013
3768        4.62913  600036.SH   20171016
3769        4.62913  600036.SH   20171017
3770        4.62913  600036.SH   20171018
3771        4.62913  600036.SH   20171019
3772        4.62913  600036.SH   20171020
3773        4.62913  600036.SH   20171023
3774        4.62913  600036.SH   20171024
3775        4.62913  600036.SH   20171025
3776        4.62913  600036.SH   20171026
3777        4.62913  600036.SH   20171027
3778        4.62913  600036.SH   20171030
3779        4.62913  600036.SH   20171031
3780        4.62913  600036.SH   20171101
3781        4.62913  600036.SH   20171102
3782        4.62913  600036.SH   20171103
3783        4.62913  600036.SH   20171106
3784        4.62913  600036.SH   20171107
3785        4.62913  600036.SH   20171108
...             ...        ...        ...
3826        4.62913  600036.SH   20180105
3827        4.62913  600036.SH   20180108
3828        4.62913  600036.SH   20180109
3829        4.62913  600036.SH   20180110
3830        4.62913  600036.SH   20180111
3831        4.62913  600036.SH   20180112
3832        4.62913  600036.SH   20180115
3833        4.62913  600036.SH   20180116
3834        4.62913  600036.SH   20180117
3835        4.62913  600036.SH   20180118
3836        4.62913  600036.SH   20180119
3837        4.62913  600036.SH   20180122
3838        4.62913  600036.SH   20180123
3839        4.62913  600036.SH   20180124
3840        4.62913  600036.SH   20180125
3841        4.62913  600036.SH   20180126
3842        4.62913  600036.SH   20180129
3843        4.62913  600036.SH   20180130
3844        4.62913  600036.SH   20180131
3845        4.62913  600036.SH   20180201
3846        4.62913  600036.SH   20180202
3847        4.62913  600036.SH   20180205
3848        4.62913  600036.SH   20180206
3849        4.62913  600036.SH   20180207
3850        4.62913  600036.SH   20180208
3851        4.62913  600036.SH   20180209
3852        4.62913  600036.SH   20180212
3853        4.62913  600036.SH   20180213
3854        4.62913  600036.SH   20180214
3855        4.62913  600036.SH   20180222

[100 rows x 3 columns]

In [16]:
# 股票行业分类数据

df, msg = api.query(
    view="lb.secIndustry", 
    fields="", 
    filter="symbol=600030.SH,600031.SH&industry_src=SW"
)
df.tail(100)

,in_date,industry1_code,industry1_name,industry2_code,industry2_name,industry3_code,industry3_name,industry4_code,industry4_name,industry_src,out_date,symbol
0,20140101,490000,非银金融,490100,证券,490101,证券,490101,证券,sw,,600030.SH
1,20140101,640000,机械设备,640200,专用设备,640201,工程机械,640201,工程机械,sw,,600031.SH

In [17]:
# 指数成份股数据

df, msg = api.query(
    view="lb.indexCons", 
    fields="", 
    filter="index_code=000016.SH&start_date=20170101&end_date=20171229"
)
df.tail(100)

     in_date index_code  out_date     symbol
0   20040102  000016.SH            600000.SH
1   20040102  000016.SH            600016.SH
2   20171211  000016.SH            600019.SH
3   20040102  000016.SH            600028.SH
4   20160613  000016.SH            600029.SH
5   20040102  000016.SH            600030.SH
6   20040102  000016.SH            600036.SH
7   20040102  000016.SH            600050.SH
8   20161212  000016.SH  20171208  600100.SH
9   20040102  000016.SH            600104.SH
10  20141215  000016.SH  20170609  600109.SH
11  20110104  000016.SH            600111.SH
12  20171211  000016.SH            600309.SH
13  20170612  000016.SH            600340.SH
14  20161212  000016.SH  20171208  600485.SH
15  20130701  000016.SH            600518.SH
16  20050701  000016.SH            600519.SH
17  20161212  000016.SH            600547.SH
18  20170612  000016.SH            600606.SH
19  20131216  000016.SH  20170609  600637.SH
20  20090105  000016.SH            600837.SH
21  20120702  000016.SH            600887.SH
22  20150521  000016.SH  20170609  600893.SH
23  20150615  000016.SH            601988.SH
24  20070104  000016.SH            600048.SH
25  20060815  000016.SH            601006.SH
26  20061110  000016.SH            601398.SH
27  20070123  000016.SH            601628.SH
28  20070226  000016.SH            601166.SH
29  20070315  000016.SH            601318.SH
30  20141215  000016.SH  20170609  601998.SH
31  20070529  000016.SH            601328.SH
32  20090105  000016.SH            601169.SH
33  20071023  000016.SH            601088.SH
34  20071119  000016.SH            601857.SH
35  20150615  000016.SH            601390.SH
36  20080701  000016.SH            601601.SH
37  20150615  000016.SH            601186.SH
38  20100104  000016.SH            601668.SH
39  20110701  000016.SH            601766.SH
40  20160613  000016.SH  20171208  601788.SH
41  20130701  000016.SH            600999.SH
42  20110701  000016.SH            601989.SH
43  20130104  000016.SH            601688.SH
44  20100729  000016.SH            601288.SH
45  20160613  000016.SH  20170609  601377.SH
46  20110104  000016.SH            601818.SH
47  20161212  000016.SH  20171208  601901.SH
48  20171211  000016.SH            601669.SH
49  20150615  000016.SH            601800.SH
50  20151214  000016.SH            601336.SH
51  20171211  000016.SH            603993.SH
52  20151214  000016.SH            601211.SH
53  20150615  000016.SH            600958.SH
54  20161212  000016.SH  20171208  601198.SH
55  20151214  000016.SH            601985.SH
56  20171211  000016.SH            601878.SH
57  20170612  000016.SH            601229.SH
58  20170612  000016.SH            600919.SH
59  20170612  000016.SH            601881.SH

指数成份股接口的正确用法是，系统返回了在start_date和end_date之间所有日期相关的记录。

用户如果要查询某一天的指数成份股，将start_date和end_date设置成一样就可以了。

In [18]:
# 指数成份股数据（某一天）

df, msg = api.query(
    view="lb.indexCons", 
    fields="", 
    filter="index_code=000016.SH&start_date=20180221&end_date=20180221"
)
df.tail(100)

     in_date index_code out_date     symbol
0   20040102  000016.SH           600000.SH
1   20040102  000016.SH           600016.SH
2   20171211  000016.SH           600019.SH
3   20040102  000016.SH           600028.SH
4   20160613  000016.SH           600029.SH
5   20040102  000016.SH           600030.SH
6   20040102  000016.SH           600036.SH
7   20040102  000016.SH           600050.SH
8   20040102  000016.SH           600104.SH
9   20110104  000016.SH           600111.SH
10  20171211  000016.SH           600309.SH
11  20170612  000016.SH           600340.SH
12  20130701  000016.SH           600518.SH
13  20050701  000016.SH           600519.SH
14  20161212  000016.SH           600547.SH
15  20170612  000016.SH           600606.SH
16  20090105  000016.SH           600837.SH
17  20120702  000016.SH           600887.SH
18  20150615  000016.SH           601988.SH
19  20070104  000016.SH           600048.SH
20  20060815  000016.SH           601006.SH
21  20061110  000016.SH           601398.SH
22  20070123  000016.SH           601628.SH
23  20070226  000016.SH           601166.SH
24  20070315  000016.SH           601318.SH
25  20070529  000016.SH           601328.SH
26  20090105  000016.SH           601169.SH
27  20071023  000016.SH           601088.SH
28  20071119  000016.SH           601857.SH
29  20150615  000016.SH           601390.SH
30  20080701  000016.SH           601601.SH
31  20150615  000016.SH           601186.SH
32  20100104  000016.SH           601668.SH
33  20110701  000016.SH           601766.SH
34  20130701  000016.SH           600999.SH
35  20110701  000016.SH           601989.SH
36  20130104  000016.SH           601688.SH
37  20100729  000016.SH           601288.SH
38  20110104  000016.SH           601818.SH
39  20171211  000016.SH           601669.SH
40  20150615  000016.SH           601800.SH
41  20151214  000016.SH           601336.SH
42  20171211  000016.SH           603993.SH
43  20151214  000016.SH           601211.SH
44  20150615  000016.SH           600958.SH
45  20151214  000016.SH           601985.SH
46  20171211  000016.SH           601878.SH
47  20170612  000016.SH           601229.SH
48  20170612  000016.SH           600919.SH
49  20170612  000016.SH           601881.SH

In [19]:
# 公募基金净值

df, msg = api.query(
    view="lb.mfNav", 
    fields="", 
    filter="symbol=510050.SH&start_pdate=20170101&end_pdate=20180101"
)
df

     ann_date    nav  nav_accumulated price_date     symbol
0    20170104  2.310            3.142   20170103  510050.SH
1    20170105  2.324            3.158   20170104  510050.SH
2    20170106  2.325            3.160   20170105  510050.SH
3    20170107  2.312            3.144   20170106  510050.SH
4    20170110  2.321            3.155   20170109  510050.SH
5    20170111  2.315            3.148   20170110  510050.SH
6    20170112  2.303            3.134   20170111  510050.SH
7    20170113  2.298            3.128   20170112  510050.SH
8    20170114  2.311            3.143   20170113  510050.SH
9    20170117  2.340            3.177   20170116  510050.SH
10   20170118  2.332            3.168   20170117  510050.SH
11   20170119  2.345            3.183   20170118  510050.SH
12   20170120  2.337            3.174   20170119  510050.SH
13   20170121  2.349            3.188   20170120  510050.SH
14   20170124  2.349            3.188   20170123  510050.SH
15   20170125  2.354            3.194   20170124  510050.SH
16   20170126  2.360            3.201   20170125  510050.SH
17   20170127  2.365            3.207   20170126  510050.SH
18   20170204  2.341            3.179   20170203  510050.SH
19   20170207  2.345            3.183   20170206  510050.SH
20   20170208  2.339            3.176   20170207  510050.SH
21   20170209  2.347            3.186   20170208  510050.SH
22   20170210  2.355            3.195   20170209  510050.SH
23   20170211  2.368            3.211   20170210  510050.SH
24   20170214  2.379            3.224   20170213  510050.SH
25   20170215  2.373            3.216   20170214  510050.SH
26   20170216  2.372            3.215   20170215  510050.SH
27   20170217  2.377            3.221   20170216  510050.SH
28   20170218  2.363            3.205   20170217  510050.SH
29   20170221  2.393            3.240   20170220  510050.SH
..        ...    ...              ...        ...        ...
216  20171122  3.045            4.012   20171121  510050.SH
217  20171123  3.070            4.042   20171122  510050.SH
218  20171124  2.997            3.955   20171123  510050.SH
219  20171125  2.993            3.950   20171124  510050.SH
220  20171128  2.973            3.927   20171127  510050.SH
221  20171129  2.899            3.903   20171128  510050.SH
222  20171130  2.894            3.897   20171129  510050.SH
223  20171201  2.865            3.863   20171130  510050.SH
224  20171202  2.843            3.837   20171201  510050.SH
225  20171205  2.862            3.859   20171204  510050.SH
226  20171206  2.911            3.917   20171205  510050.SH
227  20171207  2.875            3.875   20171206  510050.SH
228  20171208  2.848            3.843   20171207  510050.SH
229  20171209  2.866            3.864   20171208  510050.SH
230  20171212  2.899            3.903   20171211  510050.SH
231  20171213  2.850            3.845   20171212  510050.SH
232  20171214  2.872            3.871   20171213  510050.SH
233  20171215  2.849            3.844   20171214  510050.SH
234  20171216  2.820            3.810   20171215  510050.SH
235  20171219  2.828            3.819   20171218  510050.SH
236  20171220  2.872            3.871   20171219  510050.SH
237  20171221  2.879            3.879   20171220  510050.SH
238  20171222  2.894            3.897   20171221  510050.SH
239  20171223  2.880            3.881   20171222  510050.SH
240  20171226  2.879            3.879   20171225  510050.SH
241  20171227  2.893            3.896   20171226  510050.SH
242  20171228  2.838            3.831   20171227  510050.SH
243  20171229  2.858            3.855   20171228  510050.SH
244  20171230  2.859            3.856   20171229  510050.SH
245  20180101  2.859            3.856   20171231  510050.SH

[246 rows x 5 columns]